/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2f2f2f;
    color: white;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 80%;
    margin: 8%;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-container{
    max-width: 80%;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.registration-container{
    max-width: 80%;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dashboard-container {
    max-width:  80%;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.login-container{
    max-width:  80%;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.location-container{
    max-width:  80%;
    margin: 100px auto;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.location-container,h2{
    text-align: center;
}

.location-container,input-group{
    background-color: #555;
}
.distance{
    background-color: #007bff;
}

h2 {
    color: #f4f4f4;
    margin-bottom: 20px;
}

ccotainer,label {
    width: 10%;
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
    margin-right: 100%;
}


p {
    font-size: 18px;
    margin: 20px 0;
    color: #ddd;
}
.lgo{
    background-color: #ff4444;
    width: 20%;
}

button {
    width: 20%;
    padding: 15px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #ffcc33;
    color: black;
}

.dashboard-links {
    margin-top: 30px;
}

a {
    display: inline-block;
    margin: 15px 0;
    padding: 15px 30px;
    background-color: #2f2f2f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 60%;
}

a:hover {
    background-color: #ffcc33;
    color: black;
}


.home-link {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    padding: 15px 30px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    width: 95%;
}

.home-link:hover {
    text-decoration: underline;
}
input[type="text"], 
input[type="email"],
input[type="password"] {
    width: 98%;
    padding: 12px;
    background-color: #555;
    border: 3px solid #666;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
input::placeholder{
    color: #ddd;
}